
/**** Body ****/

html {
	background: #ffffff;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: #47476B;
	font-size: 15px;
	font-weight: normal;
	text-align: justify;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height: 30px;
	}

	div {
		display: block;
	}

/**** Header ****/

.head, #header-wrap, .nav-wrap {
	width: 100%;
}

	#header-wrap {
		height: 350px;
		text-align: center;
		width: 100%;
		margin-bottom: 50px;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

		svg {
			float: right;
			font-family: Helvetica, Arial, serif;
			font-size: 13px;
			font-weight: bolder;
			height: 50px;
			float: left;
			padding-top: 15px;
		}

/********** Nav *******/
.nav-wrap {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	background-color: background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */;
}
	ul#menu {
		margin: 0;
		padding-top: 10px;
		list-style-type: none;
		display: inline-block;
		float: right;
		margin-right: 50px;
	}
	
		li.nav-list {
			display: inline;
			padding: 10px;
			position: relative;
		}
			a.nav {
				border-radius: 0;
				max-width: 800px; 
				margin-left: 20px;
				font-size:1.2em;
				font-weight: 500;
				text-align: center;
				text-decoration: none;
				transition: all 0.2s;
				color: #ffffff;
			}

/***** Profile Picture *****/

.avatar {
	background-image: url ("images/IMG_2014.jpg");
	float: left;
	margin-top: 155px;
	position: relative;
	cursor: pointer;
	display: inline;
	clear: none;
	width: 50px;
	height: 50px;
}
	#profile-pic {
		border-radius: 10%;
		width: 130px;
		height: 160px;
	}
 /****** Title *******/

 #title-area {
	float: left;
	display: inline;
	clear: none;
	margin-top: 190px;
	margin-left: 100px;
	font-family: "Palatino Linotype", sans serif;
}

	#title {
		color:  #0D0E0E;
		font-weight: bolder;
		font-size: 1.5em;
		opacity: 0.9;
		padding-bottom: 0;
	}

	#sub-title {
		color:#0D0E0E;
		font-weight: bolder;
		font-size: 1.em;
		opacity: 0.7;
	}
			
/* ***** Main Content ***** */

.content-wrap {
	display: inline;
	clear: both;
	float: left;
	width: 750px;
	margin-left: 100px;
}
	.content-wrap > h4{
		text-align: center;
	}
		p.text {
			font-size: 14px;
		}

		/****** Image Home Page ******/
		img {
			width: 750px;
			height: 450px;
			padding: 0;
		}
			figure {
				margin-left: 0;
			}
				figcaption {
					
				}
					span#figure-date {
						float: right;
						font-size: 0.8em;
					}
						span#date {
							font-style: italic;
						}
						
/******* Sidebar *******/

.sidebar-wrapper {
	display: inline;
	float: left;
	clear: none;
	width: 370px;
	margin-left: 70px;
	margin-top: 0;
}
	.sidebar-wrapper > #about > h4, .sidebar-wrapper > .gallery-wrap > h4, h3.main-heading {
		text-align: center;
		color: #ffffff;
		border-radius: 3px 20px;
		background-color: background: #45484d; /* Old browsers */
		background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
		/* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
		background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
		/* IE6-9 */;
	}

		#about, .gallery-wrap {
			display: inline;
			float: left;
			clear: none;
			width: 330px;
			padding: 10px;
		}
			#about > p {
				font-size: 12px;
				word-wrap: break-word;
				line-height: 30px;
				font-stretch: extra-expanded;
			}
				.gallery-wrap > img {
					width: 100px;
					height: 100px;
					margin: 3px;
					cursor: pointer;
				}

/******** Portfolio ********/

	#portfolio {
		margin-bottom: 150px;
		word-wrap: break-word;
		line-height: 30px;
		font-stretch: extra-expanded;
	}

		#git-url {
			font-weight: bolder;
			font-stretch: extra-expanded;
			text-decoration: none;
			cursor: pointer;
			color: #3E96D1;
		}
			#git {
				width: 450px;
				height: 200px;
				display: inline;
				float: left;
				clear: both;
			}
		
/* ***** Contacts ***** */

table {
	width: 320px;
	text-align: left;
}
	.tr-contacts {
		height: 50px;
	}
	.td-contacts {
		width: 130px;
	}
	#tel {
		width: 30px;
		height: 30px;
		text-align: right;
	}
	#mail{
		width: 20px;
		height: 20px;
		padding-left: 5px;
		
	}
	
/******* Contact Form *******/

/*.contact-form {
	border-style: groove;
	border-color: #DDDDDD;
	border-radius: 5px;
	width: 1100px;
	margin-bottom: 30px;
	margin-top: 30px;
} */
	.contact-form {
		display: block;
		float: left;
		padding-bottom: 20px;
		margin-left: 100px;
		margin-bottom: 100px;
		text-align: center;
	}
		#row2 {
			margin-top: 10px;
			margin-bottom: 10px;
		}
			#name {
				margin-right: 40px;
			}
				#name, #email {
					width: 150px;
					height: 20px;
				}
					.button {
						background-color: #3E96D1;
						border-radius: 10px;
						width: 130px;
						height: 45px;
						font-weight: bold;
						opacity: 0.9;
					}
	
/***** Footer *****/

.footer {
	background-color: background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */;
	border-top-style: solid;
	border-width: 5px;
	border-color: #3E96D1;
	clear: both;
}

/****** Widgets *****/

	ul.social li {
		display: inline-block;
		line-height: 1em;
		padding-left: 1.5em;
	}
		ul.social li:first-child{
			padding-left: 0;
		}
			.label {
				font-size: 20px;
				border: 0;
				text-decoration: none;
			}
.social {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 30px;
	cursor: pointer;
}
	.label {
		color: #FF99CC;
		opacity: 0.9;
	}
		.label:hover {
			color: #FF1975;
		}
div.copyright {
	height: 100px;
	color: #E0D7DC;
	border: none;
	opacity: 0.7;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
} 
	
.line {
	border-left: solid #999999;
}

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		






